# Игнорирование виртуального окружения
venv/

# Игнорирование кэша Python
__pycache__/
**/__pycache__/

# Игнорирование файлов настроек IDE
*.pyc
*.pyo
*.pyd

# Игнорирование временных файлов и папок
*.tmp
*.log
*.swp
*.swo
*.DS_Store
Thumbs.db